.vs/
B20_Ex01_4/obj/Debug/B20_Ex01_4.pdb
B20_Ex01_3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/B20 Ex01 Mor 308407378 Ortal 301679395/v15/.suo
B20_Ex01_4/B20_Ex01_4.csproj
B20_Ex01_4/obj/Debug/B20_Ex01_4.csprojResolveAssemblyReference.cache

